## Cluster formation. See https://www.rabbitmq.com/cluster-formation.html to learn more.


## How often should node cleanup checks run?


## Set to false if automatic removal of unknown/absent nodes
## is desired. This can be dangerous, see
##  * https://www.rabbitmq.com/cluster-formation.html#node-health-checks-and-cleanup
##  * https://groups.google.com/forum/#!msg/rabbitmq-users/wuOfzEywHXo/k8z_HWIkBgAJ


## See https://www.rabbitmq.com/ha.html#master-migration-data-locality


## This enables remote access for the default user with well known credentials.
loopback_users.guest = false